@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*
{
  margin: 0px;
  padding: 0px;
}
#game
{
	position:abosulte;
}
#status
{
	position:absolute;
	background-color:rgb(253,236,166);
	top:0vh;
	left:0vw;
	width:100vw;
	height:20vh;
}
#cover
{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background-color:black;
	opacity:0.3;
}
#setting
{
	position:absolute;
	/*z-index:2;*/
	background-color:yellow;
	top:10vh;
	left:20vw;
	width:60vw;
	height:60vh;
	font-family:"Noto Sans TC",sans-serif;
	font-size:4em;
	font-weight:400;
}
#achieve
{
	position:absolute;
	/*z-index:2;*/
	background-color:yellow;
	top:10vh;
	left:20vw;
	width:60vw;
	height:60vh;
	font-family:"Microsoft JhengHei";
	font-size:4em;
}
#return
{
	position:absolute;
	background-repeat:no-repeat;
	z-index:3;
	top:10vh;
	left:70vw;
	width:5vw;
	height:5vh;
}
#day
{
	position:absolute;
	top:13vh;
	left:75vw;
	font-family:"Times New Roman";
	font-size:4em;
}
#ratname
{
	position:absolute;
	bottom:-75px;
	left:44.2vw;
	font-family:"Noto Sans TC",sans-serif;
}
#health
{
	position:absolute;
	top:2vh;
	left:2vw;
	width:3vw;
	height:3vh;
}
#force
{
	position:absolute;
	top:6vh;
	left:2vw;
	width:3vw;
	height:3vh;
}
#mental
{
	position:absolute;
	top:10vh;
	left:1.4vw;
	width:3.5vw;
	height:3.5vh;
}
#charm
{
	position:absolute;
	top:14vh;
	left:2vh;
}
#weather
{
	position:absolute;
	top:3vh;
	left:85vw;
	width:8vw;
	height:8vh;
}
#window
{
<<<<<<< HEAD
  position:absolute;
  top:22vh;
  left:14vw;
  width:75vw;
=======
	position:absolute;
	top:25vh;
	left:5vw;
>>>>>>> a1025b7d6b0b689c27cf674b48951c35ae1d1917
}
.setting_container {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	padding: 0px;
  }
.setting-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 30px;
	padding: 20px;
  }
