*

{
  margin: 0px;
  padding: 0px;
}
#start_menu{
  display:none;
}
#game
{
	position:abosulte;
}

#status
{
	position:absolute;
	background-color:rgba(248, 211, 135, 0.96);
	top:0vh;
	left:0vw;
	width:100vw;
	height:20vh;
}
#cover
{
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background-color:black;
	opacity:0.3;
}
#setting
{
	position:absolute;
	z-index:2;
	background-color:rgb(187, 137, 30);
	top:10vh;
	left:20vw;
	width:60vw;
	height:60vh;
	font-size:4em;
	font-weight:400;
}
#achieve
{
	position:absolute;
	z-index:2;
	background-color:rgb(248, 211, 135);
	top:10vh;
	left:20vw;
	width:60vw;
	height:60vh;
	font-family:"Microsoft JhengHei";
	font-size:4em;
}
#return
{
	position:absolute;
	background-repeat:no-repeat;
	z-index:3;
	top:10vh;
	left:70vw;
	width:5vw;
	height:5vh;
}
#day
{
	position:absolute;
	top:13vh;
	left:75vw;
	font-family:sans-serif;
	font-size:4em;
}
#health
{
	position:absolute;
	top:2vh;
	left:2vw;
	width:3vw;
	height:3vh;
}
#force
{
	position:absolute;
	top:6vh;
	left:2vw;
	width:3vw;
	height:3vh;
}
#mood
{
	position:absolute;
	top:10vh;
	left:1.4vw;
	width:3.5vw;
	height:3.5vh;
}
#charm
{
	position:absolute;
	top:14vh;
	left:0.8vh;
	width:3.5vw;
	height:3.5vh;
}
#weather
{
	position:absolute;
	top:3vh;
	left:77vw;
	width:8vw;
	height:8vh;
}
#photo
{
	position:absolute;
	top:26vh;
	left:3vw;
	width:22vw;
  	height:13vh;
}
#sky
{
	position:absolute;
	top:23vh;
	left:28vw;
	width:48vw;
  	height:19vh;
}
#window
{
	position:absolute;
	top:22vh;
	left:27vw;
	width:50vw;
  	height:22vh;
}
#board
{
	z-index:2;
	position:absolute;
	top:36vh;
	left:14vw;
	width:75vw;
  	height:45vh;
}
#paper
{
   z-index:2;
   position:absolute;
   top:13vh;
   left:5vw;
   width:90vw;
   height:85vh;
}
#optionA
{
  z-index:2;
  position:absolute;
  top:65vh;
  left:10vw;
  width:40vw;
  height:30vh;
}
#optionB
{
  z-index:2;
  position:absolute;
  top:65vh;
  left:50vw;
  width:40vw;
  height:30vh;
}
.event_title
{
  z-index:3;
  position:absolute;
  font-family: 'Noto Sans TC', sans-serif;
  font-size:85px;
  font-weight:900;
  top:26vh;
  left:13vw;
  width:80vw;
  word-break: break-all;
}
.event_content
{
  z-index:3;
  font-family: 'Noto Sans TC', sans-serif;
  font-size:60px;
  position:absolute;
  top:35vh;
  left:15vw;
  width:70vw;
  word-break: break-all;
}
.optionA_text
{
    z-index:3;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:60px;
    position:absolute;
    top:72vh;
    left:14vw;
    height:20vh;
    width:35vw;
	word-break: break-all;
}
.optionB_text
{
    z-index:3;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:60px;
    position:absolute;
    top:72vh;
    left:54.5vw;
    height:20vh;
    width:35vw;
	word-break: break-all;
}
.warning
{
	z-index:2;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:55px;
    position:absolute;
    top:43vh;
    left:34vw;
    height:20vh;
    width:40vw;
	word-break: break-all;
}
#food_text
{
	z-index:3;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:60px;
    position:absolute;
    top:50vh;
	left:30vw;
	width:40vw;
	text-align:center;
}
#eb1
{
	position:absolute;
	top:2.5vh;
	left:8vw;
	height:3vh;
	width:60vw;
}
#eb2
{
	position:absolute;
	top:6.3vh;
	left:8vw;
	height:3vh;
	width:60vw;
}
#eb3
{
	position:absolute;
	top:10.3vh;
	left:8vw;
	height:3vh;
	width:60vw;
}
#eb4
{
	position:absolute;
	top:14.3vh;
	left:8vw;
	height:3vh;
	width:60vw;
}
#bar1
{
	position:absolute;
	top:2.7vh;
	left:8.6vw;
	height:2.5vh;
	width:29.5vw;
	
}
#bar2
{
	position:absolute;
	top:6.5vh;
	left:8.6vw;
	height:2.5vh;
	width:29.5vw;
}
#bar3
{
	position:absolute;
	top:10.5vh;
	left:8.6vw;
	height:2.5vh;
	width:29.5vw;
}
#bar4
{
	position:absolute;
	top:14.5vh;
	left:8.6vw;
	height:2.5vh;
	width:29.5vw;
}
#end_button
{
	position:absolute;
	top:92vh;
	left:84vw;
	height:8vh;
    width:8vw;
}
#ach_button
{
	position:absolute;
	top:92vh;
	left:18vw;
	height:8vh;
    width:8vw;
}
#event_button
{
	position:absolute;
	top:92vh;
	left:68vw;
	height:8vh;
    width:8vw;
}
#set_button
{
	position:absolute;
	top:92vh;
	left:2vw;
	height:8vh;
    width:8vw;
}
#task_button
{
	position:absolute;
	top:92vh;
	left:68vw;
	height:8vh;
    width:8vw;
}
.setting_container 
{
	display: grid;
	grid-template-rows: auto auto auto auto;
	padding: 5px;
  }
.setting_item 
{
	background: url("./assets/img/rat_race.png");
	background-color: rgba(255, 255, 255, 0.8);
	background-size: 100% 10px;
	background-repeat: no-repeat;
	background-position: bottom;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 90px;
	height: 99%;
	width: 100%;
  }
  .slider 
  {
    -webkit-appearance: none;
    position:absolute;
        top:25.5vh;
	left:5.5vw;
    width: 80%;
    height: 2%;
    border-radius: 5px;   
    background: #037ff4b8;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
	transition: opacity .2s;
	margin: 10px;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 90px;
	cursor: pointer;
	background-image: url("./assets/img/bamboo.png");
	background-size: cover;
}
.slider::-moz-range-thumb
 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
#set_set{
	position:absolute;
        top:-1vh;
	left:6.9vw;
	height: 30%;
	width: 80%;
	
}
#set_volume{
	position:absolute;
        top:11.5vh;
	left:6.9vw;
	height: 28%;
	width: 80%;
	
}
#save_img{
	position:absolute;
        top:28vh;
	left:6.9vw;
	height: 30%;
	width: 80%;
}
#set_about{
	position:absolute;
        top:43vh;
	left:6.9vw;
	height: 30%;
	width: 80%;
}
.achieve_container 
{
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	/*grid-template-rows:generate by javascript ;*/
	padding: 5px;
	overflow-y: scroll;
}
.achieve_container ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.achieve_container > div{
	background: url("./assets/img/rat_race.png");
	background-color: rgba(255, 255, 255, 0.8);
	background-size: 100% 30px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 30px;
	text-align: center;
	padding: 10px;
}/*
.achieve_header{
	grid-column: 1 / 11;
}*/
.achieve_icon{
	grid-column: 1 / 3;
}
.achieve_title{
	grid-column: 3 / 7;
}
.achieve_content{
	grid-column: 7 / 11;
}
